In [1]:
import pandas as pd

In [21]:
#mapillary vistas 

# model 1
mv_df = pd.read_csv('../mapillaryvistas_model_1.csv')

# model 2
# mv_df = pd.read_csv('../mapillaryvistas_model_2.csv')

# mv_df = pd.read_csv('../mapillaryvistas_model_2_no_background.csv')

# only circles and triangles on rects
# mv_df = pd.read_csv('../mapillaryvistas_model_2_no_background_strict.csv')

# any shape except diamond on rects
# mv_df = pd.read_csv('../mapillaryvistas_model_2_no_background_strict_diamond.csv')

mv_df

,filename,object_id,shape,predicted_shape,predicted_class,group,batch_number,row,column
0,lOyFCEHv4QJr5e_4iio4kQ.jpg,120,rect,diamond,diamond-600.0,1,0,0,a
1,td6hA1JM1NS82vSOWWIZEg.jpg,33,rect,diamond,diamond-600.0,1,0,0,b
2,74TUDq6_cqo1W3VPyi4HUA.jpg,35,pentagon,circle,circle-750.0,2,0,0,a
3,74TUDq6_cqo1W3VPyi4HUA.jpg,84,circle,circle,circle-750.0,1,0,0,a
4,74TUDq6_cqo1W3VPyi4HUA.jpg,93,circle,circle,circle-750.0,1,0,0,b
...,...,...,...,...,...,...,...,...,...
9195,B2aS-wPRF0trbqptBSKkFA.jpg,11,triangle,triangle,triangle-900.0,1,1,6,d
9196,B2aS-wPRF0trbqptBSKkFA.jpg,12,triangle,triangle,triangle-900.0,1,1,6,e
9197,B2aS-wPRF0trbqptBSKkFA.jpg,34,circle,circle,circle-750.0,1,15,15,a
9198,B2aS-wPRF0trbqptBSKkFA.jpg,52,rect,diamond,diamond-600.0,1,57,12,e
9199,B2aS-wPRF0trbqptBSKkFA.jpg,53,rect,diamond,diamond-600.0,1,57,13,a

In [22]:
mv_df['group'].value_counts()

1    7696
2    1466
3      38
Name: group, dtype: int64

In [23]:
mv_df['group'].value_counts()/len(mv_df)

1    0.836522
2    0.159348
3    0.004130
Name: group, dtype: float64

In [24]:
grouped_df = mv_df.groupby(by=['shape', 'predicted_shape', 'group']).count()
grouped_df = grouped_df.reset_index()
grouped_df[grouped_df['group'] == 1][['shape', 'predicted_shape', 'group', 'filename']].rename({'filename':'count'}, axis=1)

       shape    predicted_shape  group  count
0     circle             circle      1   1576
4    diamond            diamond      1    217
20  pentagon           pentagon      1      2
25      rect             circle      1    342
26      rect            diamond      1   4791
27      rect            octagon      1     62
29      rect           pentagon      1    142
30      rect               rect      1    408
31      rect           triangle      1     15
32      rect  triangle_inverted      1      6
36  triangle           triangle      1    135

In [25]:
grouped_df = mv_df.groupby(by=['shape', 'predicted_shape', 'group']).count()
grouped_df = grouped_df.reset_index()
grouped_df[grouped_df['group'] == 2][['shape', 'predicted_shape', 'group', 'filename']].rename({'filename':'count'}, axis=1)

                shape    predicted_shape  group  count
1              circle            diamond      2    167
2              circle  triangle_inverted      2    154
3             diamond             circle      2      6
5             diamond               rect      2    352
6             diamond             square      2     75
7             diamond           triangle      2      7
8             diamond  triangle_inverted      2      2
9             octagon             circle      2      2
10            octagon  triangle_inverted      2      3
11              other             circle      2     37
12              other            diamond      2     55
14              other               rect      2      1
15              other  triangle_inverted      2     12
16           pentagon             circle      2     42
17           pentagon            diamond      2    242
18           pentagon            octagon      2      2
21           pentagon               rect      2     32
22           pentagon             square      2      2
23           pentagon           triangle      2      2
24           pentagon  triangle_inverted      2      2
33           triangle             circle      2      2
34           triangle            diamond      2     38
35           triangle               rect      2      2
37  triangle_inverted             circle      2      2
38  triangle_inverted            diamond      2    225

In [26]:
grouped_df = mv_df.groupby(by=['shape', 'predicted_shape', 'group']).count()
grouped_df = grouped_df.reset_index()
grouped_df[grouped_df['group'] == 3][['shape', 'predicted_shape', 'group', 'filename']].rename({'filename':'count'}, axis=1)

       shape predicted_shape  group  count
13     other           other      3      1
19  pentagon           other      3     36
28      rect           other      3      1

In [27]:
mv_df['shape'].value_counts()

rect                 5767
circle               1897
diamond               659
pentagon              362
triangle_inverted     227
triangle              177
other                 106
octagon                 5
Name: shape, dtype: int64

In [28]:
mv_df['predicted_shape'].value_counts()

diamond              5735
circle               2009
rect                  795
triangle_inverted     179
triangle              159
pentagon              144
square                 77
octagon                64
other                  38
Name: predicted_shape, dtype: int64