In [168]:
import pandas as pd
import os

In [169]:
directory = '/data/shared/mtsd_v2_fully_annotated/cropped_signs_v6/train'
print(os.listdir(directory))
for label in range(0, 12):
    count = 0
    for filename in os.listdir(os.path.join(directory, str(label))):
        if filename.endswith(".jpg") or filename.endswith(".png"):
            count += 1
    print(label, count)

['0', '7', '9', '3', '10', '4', '6', '1', '5', '2', '8', '11']
0 21359
1 5024
2 2523
3 1180
4 9146
5 2077
6 4097
7 768
8 945
9 223
10 1286
11 75415

In [170]:
#mapillary vistas 

# model 1
# mv_df = pd.read_csv('../mapillaryvistas_model_3_no_background.csv')
# mv_df = pd.read_csv('../mapillaryvistas_model_3_no_background__.csv')
mv_df = pd.read_csv('../mapillaryvistas_model_3.csv')

# model 2
# mv_df = pd.read_csv('../mapillaryvistas_model_2.csv')

# mv_df = pd.read_csv('../mapillaryvistas_model_2_no_background.csv')

# only circles and triangles on rects
# mv_df = pd.read_csv('../mapillaryvistas_model_2_no_background_strict.csv')

# any shape except diamond on rects
# mv_df = pd.read_csv('../mapillaryvistas_model_2_no_background_strict_diamond.csv')

mv_df

,filename,object_id,shape,predicted_shape,predicted_class,group,batch_number,row,column
0,lOyFCEHv4QJr5e_4iio4kQ.jpg,120,rect,diamond,diamond-915.0,1,0,0,a
1,td6hA1JM1NS82vSOWWIZEg.jpg,33,rect,rect,rect-762.0-915.0,1,0,0,b
2,74TUDq6_cqo1W3VPyi4HUA.jpg,35,rect,rect,rect-762.0-915.0,1,0,0,c
3,74TUDq6_cqo1W3VPyi4HUA.jpg,94,rect,rect,rect-762.0-915.0,1,0,0,d
4,74TUDq6_cqo1W3VPyi4HUA.jpg,95,triangle,rect,rect-762.0-915.0,2,0,0,a
...,...,...,...,...,...,...,...,...,...
8595,6HNq0SGhF03prETn60zrhA.jpg,105,rect,rect,rect-762.0-915.0,1,63,10,a
8596,6HNq0SGhF03prETn60zrhA.jpg,106,rect,rect,rect-762.0-915.0,1,63,10,b
8597,6HNq0SGhF03prETn60zrhA.jpg,107,rect,rect,rect-762.0-915.0,1,63,10,c
8598,t1-u4JSyOEbqXtUDhRTafw.jpg,103,triangle_inverted,rect,rect-762.0-915.0,2,2,10,e
8599,QEb6Udu3LCGnCjhArZfA4w.jpg,129,rect,rect,rect-762.0-915.0,1,63,10,d

In [171]:
mv_df['group'].value_counts()

1    6543
2    2057
Name: group, dtype: int64

In [172]:
mv_df['group'].value_counts()/len(mv_df)

1    0.760814
2    0.239186
Name: group, dtype: float64

In [173]:
grouped_df = mv_df.groupby(by=['shape', 'predicted_shape', 'group']).count()
grouped_df = grouped_df.reset_index()
grouped_df[grouped_df['group'] == 1][['shape', 'predicted_shape', 'group', 'filename']].rename({'filename':'count'}, axis=1)

      shape predicted_shape  group  count
0    circle          circle      1      9
4   diamond         diamond      1    180
13     rect          circle      1    101
14     rect         diamond      1   1469
15     rect            rect      1   4784

In [174]:
grouped_df = mv_df.groupby(by=['shape', 'predicted_shape', 'group']).count()
grouped_df = grouped_df.reset_index()
grouped_df[grouped_df['group'] == 2][['shape', 'predicted_shape', 'group', 'filename']].rename({'filename':'count'}, axis=1)

                shape predicted_shape  group  count
1              circle         diamond      2    145
2              circle            rect      2    418
3             diamond          circle      2     59
5             diamond            rect      2    454
6             octagon            rect      2      3
7               other          circle      2      1
8               other         diamond      2     17
9               other            rect      2     89
10           pentagon          circle      2      7
11           pentagon         diamond      2     66
12           pentagon            rect      2    307
16           triangle          circle      2      2
17           triangle         diamond      2     43
18           triangle            rect      2    191
19  triangle_inverted          circle      2      1
20  triangle_inverted         diamond      2     70
21  triangle_inverted            rect      2    184

In [175]:
grouped_df = mv_df.groupby(by=['shape', 'predicted_shape', 'group']).count()
grouped_df = grouped_df.reset_index()
grouped_df[grouped_df['group'] == 3][['shape', 'predicted_shape', 'group', 'filename']].rename({'filename':'count'}, axis=1)

Empty DataFrame
Columns: [shape, predicted_shape, group, count]
Index: []

In [176]:
mv_df['shape'].value_counts()

rect                 6354
diamond               693
circle                572
pentagon              380
triangle_inverted     255
triangle              236
other                 107
octagon                 3
Name: shape, dtype: int64

In [177]:
mv_df['predicted_class'].value_counts()

rect-762.0-915.0    6428
diamond-915.0       1990
circle-750.0         180
rect-458.0-610.0       2
Name: predicted_class, dtype: int64